USE [master]
GO
/****** Object:  Database [TEST2]    Script Date: 12.03.2024 22:17:02 ******/
CREATE DATABASE [TEST2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TEST2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TEST2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TEST2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEST2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEST2]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 12.03.2024 22:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[CustomerAddress] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12.03.2024 22:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](100) NULL,
	[ProductType] [int] NULL,
	[Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 12.03.2024 22:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[TypeID] [int] NOT NULL,
	[TypeName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesManagers]    Script Date: 12.03.2024 22:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesManagers](
	[ManagerID] [int] NOT NULL,
	[ManagerName] [nvarchar](100) NULL,
	[ManagerPhone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ManagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [CustomerAddress]) VALUES (1, N'ООО "Рога и копыта"', N'г. Хех, ул. какая-то, д. 10')
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [CustomerAddress]) VALUES (2, N'ИП "Пупкин Василий Иванович"', N'г. Одесса, ул. карлика, 21')
GO
INSERT [dbo].[ProductTypes] ([TypeID], [TypeName]) VALUES (1, N'Письменные принадлежности')
INSERT [dbo].[ProductTypes] ([TypeID], [TypeName]) VALUES (2, N'Бумажные изделия')
INSERT [dbo].[ProductTypes] ([TypeID], [TypeName]) VALUES (3, N'Офисная техника')
GO
INSERT [dbo].[SalesManagers] ([ManagerID], [ManagerName], [ManagerPhone]) VALUES (1, N'Иванов Иван Иванович', N'+1234567890')
INSERT [dbo].[SalesManagers] ([ManagerID], [ManagerName], [ManagerPhone]) VALUES (2, N'Петров Петр Петрович', N'+0987654321')
GO
USE [master]
GO
